@model TopCvFake.Models.NopCV

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NopCV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThuGioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuGioiThieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV.TenCty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV.TenCty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTac.TenDoiTac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTac.TenDoiTac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.ChucVuUngTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.ChucVuUngTuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
