@model TopCvFake.Models.Profile
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link href="~/Content/Details/Details.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/starter/style-starter.css">
<script src="~/Content/Details/Details.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="body1">
    <div class='container1'>
        <img class="highlight-window" id='product-img' src="/@Model.HinhCV" alt="Logo"><img class="highlight-overlay" src="/@Model.HinhCV" alt="Logo" /><img />
        <div class='window'>
            <div class='main-content'>
                <h2 >Sơ yếu lí lịch</h2>
                <span > @Html.DisplayFor(model => model.ChucVuUngTuyen)</span>
                <p > Danh mục: @Html.DisplayFor(model => model.KinhNghiem)</p>
                <p > Lương: @Html.DisplayFor(model => model.HocVan)</p>
                <p > Công ty: @Html.DisplayFor(model => model.NgonNgu)</p>
                <div></div>
                <div></div>
                <div class='divider'></div>
                <div class='purchase-info'>
                    <a class="btn button" href="@Url.Action("Edit", "User", new { id = Model.MaProfile})">Chỉnh sửa</a>
                    <a class="btn button" href="@Url.Action("CV", "User" )">Trở về nhà chính</a>
                </div>

            </div>
        </div>
    </div>
</div>

